body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.containerPrincipal{
  padding-top: 56px;
  background-color: black;
}

.content{
  background: url("../../../assets/1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.contentReservation{
  padding: 200px 0 200px 50px;
}

.nameCar{
  font-weight: bold;
  font-size: 35px;
}

.logoInfo{
  font-size: 23px;
}

.logoInfo:hover{
  cursor: pointer;
}





